{% extends "TApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}
{#    Buscar curso#}
<html>
    <br><hr>
  <form action="{% url 'busquedapaciente' %}">
        <!-- Ejemplo de etiquetado personalizado para el campo 'nombre' -->
    <label for="{{ form_busqueda.numero_paciente.auto_id }}">{{ form_busqueda.numero_paciente.label_tag }}</label>
            {{ form_busqueda.numero_paciente }}
        <input type="submit" value="Buscar">
    </form>

<html>
<head>
    <title>Lista de todos los pacientes</title>
    <style>
        table {
            border-collapse: separate;
            border-spacing: 10px;
        }
    </style>
</head>
<body>
    <h1>Lista de todos los pacientes</h1>
    <table>
        <thead>
            <tr>
                <th style="padding-right: 20px;">Num Paciente</th>
                <th style="padding-right: 20px;">Apellido</th>
                <th style="padding-right: 20px;">Nombre</th>
                <th style="padding-right: 20px;">Fech Nac</th>
                <th style="padding-right: 20px;">Protocolo</th>
                <th style="padding-right: 20px;">Cod. Protoc</th>
                <th style="padding-right: 20px;">Ojo</th>
                <th style="padding-right: 20px;">Site</th>
                <th style="padding-right: 20px;">Num Site</th>
                <th style="padding-right: 20px;">Visita</th>
                <th style="padding-right: 20px;">Fecha visita</th>
                <!-- Agrega más columnas si es necesario -->
            </tr>
        </thead>
        <tbody>
            {% if pacientes %}
                {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.numero_paciente }}</td>
                        <td>{{ paciente.apellido }}</td>
                        <td>{{ paciente.nombre }}</td>
                        <td>{{ paciente.fecha_nacimiento|date:'Y' }}</td>
                        <td>{{ paciente.protocolo }}</td>
                        <td>{{ paciente.numero_protocolo }}</td>
                        <td>{{ paciente.ojo_estudio }}</td>
                        <td>{{ paciente.site_nombre }}</td>
                        <td>{{ paciente.site_numero }}</td>
                        <td>{{ paciente.visita }}</td>
                        <td>{{ paciente.fecha_visita }}</td>
                        <td><a href="{% url 'editar_visita' paciente.fecha_visita paciente.visita %}">Programar visita</a></td>
                        <!-- Muestra los datos del paciente en las columnas correspondientes -->
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron resultados.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
